<div class="row">
    <div class="col-md-4">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <svg ng-show="!weiboUser.userLogo" class="octicon octicon-mark-github v-align-middle" height="32" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
                    <img  ng-show="weiboUser.userLogo" class="profile-user-img img-fluid img-circle"
                          src="{{weiboUser.userLogo}}"
                          alt="用户头像">
                </div>

                <h3 class="profile-username text-center" >{{weiboUser.nickname}}</h3>

                <p class="text-muted text-center">{{weiboUser.userExplain}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>关注</b> <a class="float-right">{{followList.length}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>粉丝</b> <a class="float-right">{{unFollowList.length}}</a>
                    </li>
                    <li class="list-group-item">
                        <b>微博</b> <a class="float-right">{{weiboList.length}}</a>
                    </li>
                </ul>

                <!--                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">简介</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> 职业</strong>
                <p class="text-muted">
                    {{weiboUser.job}}
                </p>
                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> 位置</strong>

                <p class="text-muted">{{(weiboUser.province ? weiboUser.province : '' )+ ' , ' + (weiboUser.city ? weiboUser.city : '')}}</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> 爱好</strong>

                <p class="text-muted">
                    {{weiboUser.hobby}}
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> 个人说明</strong>

                <p class="text-muted">{{weiboUser.userExplain}}</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" ng-class="{'active' : cardSwitch == 'activity'}" ng-click="cardSwitch = 'activity'">动态</a></li>
                    <li class="nav-item"><a class="nav-link"  ng-class="{'active' : cardSwitch == 'timeline'}" ng-click="cardSwitch = 'timeline'" >关注</a></li>
                    <li class="nav-item"><a class="nav-link"  ng-class="{'active' : cardSwitch == 'timeline2'}" ng-click="cardSwitch = 'timeline2'" >粉丝</a></li>

                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div  ng-show="cardSwitch == 'activity'">
                        <div class="row" >
                            <div class="card col-md-12">
                                <div class="card-header p-2">
                                    <ul class="nav nav-pills">

                                    </ul>
                                </div><!-- /.card-header -->
                                <div class="card-body">
                                    <div class="tab-content ">
                                        <!-- Post -->
                                        <div class="post" ng-repeat="wo in weiboList">
                                            <div class="user-block">
                                                <img  class="img-circle" ng-src="{{wo.weiboUser.userLogo}}" alt="头像">
                                                <span class="username">
                          <a href="javascript:void(0)" ng-click="toFrofile(wo.weiboUser)">{{wo.weiboUser.nickname}}</a>
                                                    <!--                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>-->
                        </span>
                                                <span class="description">{{wo.postTime}}</span>
                                            </div>
                                            <p>
                                                {{wo.content}}
                                            </p>

                                            <!--                        <div class="row">-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                        </div>-->
                                            <!--                        <div class="row">-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                        </div>-->
                                            <!--                        <div class="row">-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                            <div class="col-sm-4">-->
                                            <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                                            <!--                            </div>-->
                                            <!--                        </div>-->
                                            <p>
                                                <a href="javascript:void(0)" ng-show="! wo.favorite" ng-click ="addFavorite(wo)" class="link-black text-sm mr-2"><i class="fas fa-star mr-1"></i> 收藏</a>
                                                <a href="javascript:void(0)" ng-show="wo.favorite" ng-click ="deleteFavorite(wo)" class="link-black text-sm mr-2"><i class="fas fa-star mr-1"></i> 取消收藏</a>

                                                <a href="javascript:void(0)"  ng-show="! wo.like" ng-click ="addLike(wo)" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> 赞</a>
                                                <a href="javascript:void(0)"  ng-show="wo.like" ng-click ="deleteLike(wo)"  class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> 取消赞</a>

                                                <a href="javascript:void(0)"  ng-click ="deleteWeibo(wo.weiboId)"  class="link-black text-sm"><i class="far fa-trash-alt mr-2"></i> 删除</a>

                                                <span class="float-right">
                                <a href="javascript:void(0)"   ng-init="wo.comments.length > 0 ? wo.showComment = wo.weiboId : wo.showComment = 0"  ng-click="wo.showComment === wo.weiboId ?  wo.showComment = 0 : wo.showComment = wo.weiboId" class="link-black text-sm">
                                  <i class="far fa-comments mr-1"></i> 评论{{'('+ wo.comments.length +')'}}
                               </a>
                        </span>

                                            </p>
                                            <div class="card-footer card-comments" ng-show="wo.showComment === wo.weiboId">
                                                <div class="card-comment" ng-repeat="comment in wo.comments" >
                                                    <!-- User image -->
                                                    <img class="img-circle img-sm" ng-src="{{comment.weiboUser.userLogo}}" alt="">
                                                    <div class="comment-text">
                                            <span class="username">
                                              {{comment.weiboUser.nickname}}
                                              <span class="text-muted float-right">{{comment.createTime}}</span>
                                            </span><!-- /.username -->
                                                        {{comment.commentText}}
                                                    </div>
                                                    <!-- /.comment-text -->
                                                </div>

                                                <div class="input-group input-group-sm mb-0">
                                                    <input ng-model="commentText" class="form-control form-control-sm" placeholder="说点什么吧！">
                                                    <div class="input-group-append">
                                                        <button type="button" ng-click="sendComment(commentText, wo)" class="btn btn-danger">发送</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.post -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div><!-- /.card-body -->



                            </div>
                            <!-- /.nav-tabs-custom -->
                        </div>
                    </div>

                    <div  ng-show="cardSwitch == 'timeline'" >
                        <div class="card-body pb-0">
                            <div class="row d-flex align-items-stretch">
                                <div class="col-12   align-items-stretch" ng-repeat="u in unFollowList">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">
                                            用户信息
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>   {{ u.nickname }}</b></h2>
                                                    <p class="text-muted text-sm"><b>爱好: </b> {{u.hobby}} </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> 地址: {{u.province}}</li>
                                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> {{u.email}}</li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <img ng-src="{{u.userLogo}}" alt=""  class="profile-user-img img-fluid img-circle">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a href="#" class="btn btn-sm bg-teal">
                                                    <i class="fas fa-comments"></i> 取消关注
                                                </a>
                                                <a href="{{'#publicProfile?userId=' + u.userId}}" class="btn btn-sm btn-primary">
                                                    <i class="fas fa-user"></i> 前往主页
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  ng-show="cardSwitch == 'timeline2'" >
                        <div class="card-body pb-0">
                            <div class="row d-flex align-items-stretch">
                                <div class="col-12   align-items-stretch" ng-repeat="u in followList">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">
                                            用户信息
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>   {{ u.nickname }}</b></h2>
                                                    <p class="text-muted text-sm"><b>爱好: </b> {{u.hobby}} </p>
                                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> 地址: {{u.province}}</li>
                                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> {{u.email}}</li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <img ng-src="{{u.userLogo}}" alt=""  class="profile-user-img img-fluid img-circle">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <!--                                                <a href="#" class="btn btn-sm bg-teal">-->
                                                <!--                                                    <i class="fas fa-comments"></i> 取消关注-->
                                                <!--                                                </a>-->
                                                <a href="{{'#publicProfile?userId=' + u.userId}}" class="btn btn-sm btn-primary">
                                                    <i class="fas fa-user"></i> 前往主页
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>

</div>
