<div class="row" >
    <div class="card col-md-12">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="{{'#search?type=WO' + '&text=' + hrefText}}" ng-class="{'active' : cardSwitch == 'activity'}" >微博</a></li>
                <li class="nav-item"><a class="nav-link"  href="{{'#search?type=HT' + '&text=' + hrefText}}" ng-class="{'active' : cardSwitch == 'timeline'}" >话题</a></li>
                <li class="nav-item"><a class="nav-link" href="{{'#search?type=YH' + '&text=' + hrefText}}" ng-class="{'active' : cardSwitch == 'timeline2'}" >用户</a></li>
            </ul>

        </div><!-- /.card-header -->
        <div class="card-body" ng-show="cardSwitch == 'activity' || cardSwitch == 'timeline'">
            <div class="tab-content ">
                <!-- Post -->
                <div class="post" ng-repeat="wo in weiboList">
                    <div class="user-block">
                        <img  class="img-circle" ng-src="{{wo.weiboUser.userLogo}}" alt="头像">
                        <span class="username">
                          <a href="javascript:void(0)" ng-click="toFrofile(wo.weiboUser)">{{wo.weiboUser.nickname}}</a>
                            <!--                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>-->
                        </span>
                        <span class="description">{{wo.postTime}}</span>
                    </div>
                    <p>
                        <a  href="{{'#search?type=HT' + '&text=' +  wo.topic}}"  ng-show="wo.topic">{{'#'+ wo.topic}} </a>
                {{wo.content.replace('#'+wo.topic,'')}}
                    </p>

                    <!--                        <div class="row">-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                            <div class="col-sm-4">-->
                    <!--                                <img class="img-fluid" src="{{wo.weiboUser.userLogo}}" alt="Photo">-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <p>
                        <a href="javascript:void(0)" ng-show="! wo.favorite" ng-click ="addFavorite(wo)" class="link-black text-sm mr-2"><i class="fas fa-star mr-1"></i> 收藏</a>
                        <a href="javascript:void(0)" ng-show="wo.favorite" ng-click ="deleteFavorite(wo)" class="link-black text-sm mr-2"><i class="fas fa-star mr-1"></i> 取消收藏</a>

                        <a href="javascript:void(0)"  ng-show="! wo.like" ng-click ="addLike(wo)" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> 赞</a>
                        <a href="javascript:void(0)"  ng-show="wo.like" ng-click ="deleteLike(wo)"  class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> 取消赞</a>

                        <span class="float-right">
                                <a href="javascript:void(0)"   ng-init="wo.comments.length > 0 ? wo.showComment = wo.weiboId : wo.showComment = 0"  ng-click="wo.showComment === wo.weiboId ?  wo.showComment = 0 : wo.showComment = wo.weiboId" class="link-black text-sm">
                                  <i class="far fa-comments mr-1"></i> 评论{{'('+ wo.comments.length +')'}}
                               </a>
                        </span>

                    </p>
                    <div class="card-footer card-comments" ng-show="wo.showComment === wo.weiboId">
                        <div class="card-comment" ng-repeat="comment in wo.comments" >
                            <!-- User image -->
                            <img class="img-circle img-sm" ng-src="{{comment.weiboUser.userLogo}}" alt="">
                            <div class="comment-text">
                                <span class="username">
                                  {{comment.weiboUser.nickname}}
                                  <span class="text-muted float-right">{{comment.createTime}}</span>
                                </span><!-- /.username -->
                                {{comment.commentText}}
                            </div>
                            <!-- /.comment-text -->
                        </div>

                        <div class="input-group input-group-sm mb-0">
                            <input ng-model="commentText" class="form-control form-control-sm" placeholder="说点什么吧！">
                            <div class="input-group-append">
                                <button type="button" ng-click="sendComment(commentText, wo)" class="btn btn-danger">发送</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.post -->
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
        <div class="card-body" ng-show=" cardSwitch == 'timeline2'">
            <div class="tab-content ">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch" ng-repeat="u in userList">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                    用户信息
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>   {{ u.nickname }}</b></h2>
                                            <p class="text-muted text-sm"><b>爱好: </b> {{u.hobby}} </p>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> 地址: {{u.province}}</li>
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> {{u.email}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img ng-src="{{u.userLogo}}" alt=""  class="profile-user-img img-fluid img-circle">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">

                                        <a href="{{'#publicProfile?userId=' + u.userId}}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> 前往主页
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->

    </div>
    <!-- /.nav-tabs-custom -->
</div>