<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!--此标签让360安全浏览器默认使用极速模式-->
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>莫耶 | 微博</title>
  <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./dist/css/adminlte.min.css">
  <link rel="stylesheet" href="./plugins/summernote/summernote-bs4.css">
  <!-- 分页的css -->
  <link rel="stylesheet" href="plugins/angularjs/pagination.css">
  <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
  <script type="text/javascript" src="plugins/angularjs/angular-route.min.js"></script>
</head>
<body class="hold-transition layout-top-nav">
<!--ng-controller="indexController"-->
<div class="wrapper" ng-app="moyeApp"  ng-controller="navigationController" ng-cloak>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#javascript:void(0)" class="navbar-brand">
        <img src="img/moye_logo.png" alt="moye Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">微博 ( •̀ ω •́ )y</span>
      </a>
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#home" class="nav-link">首页</a>
          </li>
          <li class="nav-item">
            <a href="#plaza" class="nav-link">广场</a>
          </li>
          <li class="nav-item dropdown" >
            <a id="dropdownSubMenu1"  href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
              搜索选项: {{searchType}}</a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="javascript:void(0)" ng-click="searchType = '微博'" class="dropdown-item">微博</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="javascript:void(0)" ng-click="searchType = '话题'" class="dropdown-item">话题</a></li>
              <li class="dropdown-divider"></li>
              <li><a href="javascript:void(0)" ng-click="searchType = '用户'" class="dropdown-item">用户 </a></li>
            </ul>
          </li>
        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-0 ml-md-3">
          <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" ng-model="searchText" type="search" placeholder="想念的人会再相见..." aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" ng-click="search()" type="button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li  class="nav-item"><a   class="nav-link" href="/logout">退出登陆</a></li>

        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"   href="javascript:void(0)"><i
              class="fas fa-th-large"></i></a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
<!--            <h1 class="m-0 text-dark"> 你回来啦!  <small>有一点点想你呢..</small></h1>-->
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
<!--              <li class="breadcrumb-item"><a href="#">关闭</a></li>-->

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a href="weiboUser/profile" class="btn btn-primary btn-block mb-3">我的主页</a>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">应用</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a href="#home" class="nav-link">
                      <i class="far fa-star"></i> 发微博
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#comment" class="nav-link">
                      <i class="far fa-envelope"></i> 评论
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#star" class="nav-link">
                      <i class="far fa-file-alt"></i> 收藏
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#like" class="nav-link">
                      <i class="fas fa-filter"></i> 点赞
                      <span class="badge bg-warning float-right">65</span>
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a href="#plaza" class="nav-link">
                      <i class="fas fa-inbox"></i> 广场
<!--                      <span class="badge bg-primary float-right">12</span>-->
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">热门话题</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item active">
                    <a href="#" class="nav-link">
                      <i class="fas fa-inbox"></i> 猫猫能量
                      <span class="badge bg-primary float-right">爆</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-inbox"></i> 江南百景图
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-inbox"></i> 无心上班只想撸猫
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fas fa-inbox"></i> 攻控推文自我记录
                      <span class="badge bg-warning float-right">65</span>
                    </a>
                  </li>

                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">接下来作什么!</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="#profile"><i class="far fa-circle text-danger"></i> 完善我的个人资料</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#profile"><i class="far fa-circle text-warning"></i> 完善我的联系方式</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#profile"><i class="far fa-circle text-primary"></i> 上传头像</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <!--页面内容-->
          <div class="col-md-9"  ng-view> </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>莫耶微博 &copy; 2021-2022 <a href="https://coala.top">coala.top</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->


<script src="./plugins/jquery/jquery.min.js"></script>
<script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./dist/js/adminlte.min.js"></script>
<!-- 分页的js -->
<script type="text/javascript" src="plugins/angularjs/pagination.js"></script>
<!-- 业务的js -->
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/router.js"></script>
<script type="text/javascript" src="js/config.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/navigationController.js"></script>
<script type="text/javascript" src="js/controller/homeController.js"></script>
<script type="text/javascript" src="js/controller/profileController.js"></script>
<script type="text/javascript" src="js/controller/plazaController.js"></script>
<script type="text/javascript" src="js/controller/publicProfileController.js"></script>
<script type="text/javascript" src="js/controller/starController.js"></script>
<script type="text/javascript" src="js/controller/likesController.js"></script>
<script type="text/javascript" src="js/controller/commentController.js"></script>

<script type="text/javascript" src="js/service/httpService.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="./dist/js/demo.js"></script>

<script src="./plugins/summernote/summernote-bs4.min.js"></script>

<!-- Page Script -->
<script>
  $(function () {
    //Add text editor
    $('#compose-textarea').summernote()
  })
</script>
</body>
</html>
